<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    {% block title %}
    <title>Students</title>
    {% endblock %}
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'stdlec/css/style.css' %}" />
</head>

<body>
    <div class="main">
        <div class="nav-bar" id="navbar">
            <div class="title">
                <h1>Lecturer Student Interaction Platform</h1>
            </div>
            <div class="navlinks">
                <ul class="links">
                    <li><a href="{% url 'index' %}">Home</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fmain">
        <h1 class="signin">Edit Student</h1>
        <div class="formd">
            <form method="POST" action="/update/{{ student.id }}">
                {% csrf_token %}
                <div class="inputdiv">
                    <label for="sfname">First Name</label>
                    <input pattern="[a-zA-Z]+" title="Should contain letters only" required type="text" name="sfname"
                        placeholder="First Name" value="{{ student.sfname }}" />
                    <br />
                    <label for="slname">Last Name</label>
                    <input pattern="[a-zA-Z]+" title="Should contain letters only" required type="text" name="slname"
                        placeholder="Last Name" value="{{ student.slname }}" />
                    <br />
                    <label for="sregno">Registration Number</label>
                    <input required type="text" name="sregno" placeholder="Registration Number"
                        value="{{ student.sregno }}" />
                    <br />
                    <label for="semail">Email Address</label>
                    <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Should follow valid Email pattern"
                        required type="email" name="semail" placeholder="Email" value="{{ student.semail }}" />
                    <br />
                    <label for="sfname">Phone Number</label>
                    <input pattern="[0-9]{9}" title="Should be 10 numbers" required type="tel" name="scontact"
                        placeholder="Contact" value="{{ student.scontact }}" />
                    <br />
                    <label for="sfname">Course</label>
                    <input required type="text" name="scourse" placeholder="Course" value="{{ student.scourse }}" />
                    <br />
                </div>
                <input type="submit" value="Update" />
            </form>
        </div>
    </div>
</body>

</html>