<!DOCTYPE html>
<html>

<head>

    {% block title %}
    <title>Sign Up</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'stdlec/css/style.css' %}" />
</head>

<body>
    <div class="main">
        <div class="nav-bar" id="navbar">
            <div class="title">
                <h1>Lecturer Student Interaction Platform</h1>
            </div>
            <div class="navlinks">
                <ul class="links">
                    <li><a href="{% url 'landing' %}">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fmain">
        <h1 class="signin">Send Email</h1>
        <div class="formd">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="inputdiv">
                    <label for="email">Email Address</label>
                    <input required type="email" name="recipient_list" placeholder="Email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Should follow valid Email pattern" />
                    <br />
                    <label for="subject">Subject</label>
                    <input required type="text" name="subject" placeholder="Subject" />
                    <br />
                    <label for="message">Message</label>
                    <textarea name="message" required placeholder="Your Message" cols="92" rows="20"></textarea>
                    <br />
                    <label for="attachment">Attach a file</label>
                    <br />
                    <br />
                    <input required type="file" name="attachment" placeholder="Attach File" />
                </div>
                <input type="submit" value="Send" />
            </form>
        </div>
    </div>
</body>

</html>