<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  {% block title %}
  <title>Landing</title>
  {% endblock %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'stdlec/css/style.css' %}" />
</head>

<body>
  <div class="main">
    <div class="nav-bar" id="navbar">
      <div class="title">
        <h1>Lecturer Student Interaction Platform</h1>
      </div>
      <div class="navlinks">
        <ul class="links">
          <li><a href="{% url 'landing' %}">Home</a></li>
          <li>
            <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container main">
    <div class="">
        <h3 style="color: red;" class="signin">Because of the deadly corona virus that causes COVID-19 disease, you are adviced to use this platform to interact with Lecturers or students.</h3>
          <div>
            <h4 style="color: rgb(61, 61, 141);" class="signin">This platform enables you send emails. Click the link below to send an email</h4>
          </div>
          <div class="emailbtn">
            <div class="link">
              <button onclick="document.location='/email'">
                Send Email
              </button>
          </div>
          </div>
      </div>
  </div>
</body>

</html>