<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'stdlec/css/style.css' %}" />

    <title>Students</title>
</head>

<body>
    <div class="main">
        <div class="nav-bar" id="navbar">
            <div class="title">
                <h1>Lecturer Student Interaction Platform</h1>
            </div>
            <div class="navlinks">
                <ul class="links">
                    <li><a href="{% url 'index' %}">Home</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fmain">
        <h1 class="signin">Add Student</h1>
        <div class="formd">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="inputdiv">
                    <label for="sfname">First Name</label>
                    <input required type="text" name="sfname" placeholder="First Name" />
                    <br />
                    <label for="slname">Last Name</label>
                    <input required type="text" name="slname" placeholder="Last Name" />
                    <br />
                    <label for="sregno">Registration Number</label>
                    <input required type="text" name="sregno" placeholder="Registration Number" />
                    <br />
                    <label for="email">Email</label>
                    <input required type="email" name="semail" placeholder="Email" />
                    <br />
                    <label for="scontact">Phone Number</label>
                    <input required type="number" name="scontact" placeholder="Contact" maxlength="10"/>
                    <br />
                    <label for="scourse">Course</label>
                    <input required type="text" name="scourse" placeholder="Course" />
                    <br />
                </div>
                <input type="submit" value="Register" />
            </form>
        </div>
    </div>

</body>

</html>