<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>

<body>
    <div class="fmain">
        <div class="formd">
            <form method="POST">
                {% csrf_token %}
                <div class="inputdiv">
                    <input required type="text" name="sfname" placeholder="First Name" />
                    <br />
                    <input required type="text" name="slname" placeholder="Last Name" />
                    <br />
                    <input required type="text" name="sregno" placeholder="Registration Number" />
                    <br />
                    <input required type="email" name="semail" placeholder="Email" />
                    <br />
                    <input required type="text" name="scontact" placeholder="Contact" />
                    <br />
                    <input required type="text" name="scourse" placeholder="Course" />
                    <br />
                </div>
                <input type="submit" value="Register" />
            </form>
        </div>
    </div>
</body>

</html>