<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %}
        <title>Index</title>
        {% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'stdlec/css/style.css' %}">
    </head>
    <body>
        <div class="main">
        {% comment %} Navbar start  {% endcomment %}
        <div class="nav-bar" id="navbar">
            <div class="title">
            <h1>Lecturer Student Interaction Platform</h1>
            </div>
        {% comment %} Navbar end  {% endcomment %}
    </div>

<script>
window.onscroll = function() {scroll()};

var header = document.getElementById("navbar");
var sticky = header.offsetTop;

function scroll() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
    </body>
</html>
