<!DOCTYPE html>
<html lang="en">
<head>
 {% block title %}<title>Sign Up</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'stdlec/css/style.css' %}">
</head>
 <body>
   {% block main %}
        <div class="main">
        {% comment %} Navbar start  {% endcomment %}
        {% block top %}
        <div class="nav-bar" id="navbar">
            <div class="title">
            <h1>Lecturer Student Interaction Platform</h1>
            </div>
        <div class="navlinks">
        <ul class="links">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="/accounts/login/">Sign In</a></li>
        <li><a href="/register/">Sign Up</a></li>
        </ul>
        </div>
        </div>
        {% endblock %}
  <div class="fmain">
    <h1 class="signin"> Sign Up</h1>
    <div class="formd">
       <form method="POST">
      {% csrf_token %}
     <div class="inputdiv">
     <input type="text" name="username" placeholder="Your username">
     <br/>
        <input type="text" name="first_name" placeholder="Your First Name">
     <br/>
        <input type="text" name="last_name" placeholder="Your Last Name">
     <br/>   
     <input type="text" name="email" placeholder="Your Email">
     <br/>
      <input type="password" name="password1" placeholder="Password">
     <br/>
      <input type="password" name="password2" placeholder="Password Confirmation">
     <br/>
     </div>
      <input type="submit" value="Register" />
      </form>
    </div>
  <div>
  {% comment %} <p><a href="{% url 'password_reset' %}">Reset Password</a></p> {% endcomment %}
  </div>
  </div>
{% endblock %}
 </body>
</html> 