.main {
  /* border: 1px solid red; */
  margin: 0 10em;
  font-family: "Roboto Condensed", sans-serif;
}
.pagedesc {
  border: 1px solid green;
  height: 10em;
  margin: 5em 15em;
}
.covid {
  border: 1px solid green;
  height: 50em;
  margin: 5em 15em;
}
.nav-bar {
  display: flex;
  height: 5em;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(166, 166, 211);
}
.links {
  list-style-type: none;
  margin: 29px 0;
}
.links li {
  display: inline;
  padding: 5px 15px;
  font-size: 20px;
}
.links li a {
  text-decoration: none;
}
.sticky {
  position: fixed;
  top: 0;
  width: 80.6%;
}

.sticky + .content {
  padding-top: 102px;
}

input[type="text"] {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(166, 166, 211);
  font-family: "Roboto Condensed", sans-serif;
}

input[type="number"] {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(166, 166, 211);
  font-family: "Roboto Condensed", sans-serif;
}

input[type="email"] {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(166, 166, 211);
  font-family: "Roboto Condensed", sans-serif;
}
input[type="password"] {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(166, 166, 211);
  font-family: "Roboto Condensed", sans-serif;
}
input[type="submit"] {
  width: 20%;
  height: 4em;
  font-family: "Roboto Condensed", sans-serif;
  float: right;
}
.signin {
  text-align: center;
}
.formd {
  margin: 0 auto;
  width: 50%;
}
span {
  margin-top: 10em;
}

.table {
  margin-top: 2.5em;
  /* border: 1px solid red; */
}
.link {
  text-align: center;
  text-decoration: none;
}

.link a{
  color: white;
}

.link button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
a {
  text-decoration: none;
}
table {
  width: 80%;
}
.messages{
  list-style-type: none;
  text-align: center;
  color: #4CAF50;
}